body {
  background-image: url(../img/bg-codes.jpg);
  background-position: center;
  background-size: cover;
}
 #time-box {
   position: absolute;
   top: 0;
   right: 20px;
 }

 #answers-box {
   min-height: 40px;
 }